<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

<title>About Page</title>
</head>
<body>
	<section>
		<div class="section1">
        <div class="container1">
            <div class="content-section">
                <div class="title">
                    <h1 class="h3h"><b>About Us</b></h1>
                </div>
                <div class="content">
                    <h3><b>Computer System Department , MUET Jamshoro</b></h3>
                    <p>Hi, I am Jatender Khatri and I am currently Studying in Computer System Department in 3rd Year. I hava Create Smart Contact Mangement In which First We Create a account and then Login your account after Login your account then Add
                        The Contacts and View The Contacts.
                    </p>
                    <div class="button">
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/jatenderkhatr"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/jatender48/"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/JatenderKumar0"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="image/Jatender Photo.jpeg" style="height: 400px; border-radius:50%">
            </div>
        </div>
    </div>


	</section>

</body>
</html>